@media screen and (max-width: 1150px) {
    .grid-container {
        grid-template-columns: 50% 50%;
    }

    .svg-container2 {
        position: relative;
        width: 100%;
        height: 100%;
        vertical-align: top;
        overflow: hidden;
    }

    .svg-content-responsive2 {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 0;
    }

    #introtext {
        margin-top: 20vh;
        font-size: 20px;
        width: 80%;
        
        overflow: hidden;
    }

    .imagefooter {
        height: 100px;
    }

    /*@media screen and (max-width: 1150px) {*/
    .grid-containervogels {
        grid-template-columns: 20% 20% 20% 20%;
    }

    .tabcontent {
        height: 32vh;
    }
}

@media screen and (max-width: 1100px) {
    .grid-containermaps {
        grid-template-columns: 50% 50%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media screen and (max-width: 1000px) {
    .weidevogels_nav {
        padding-right: 0px;
        margin-right: 5px;
    }

    .grafiek_nav {
        width: 8%;
        height: 32px;
        font-size: 14px;
        letter-spacing: 2px;
        margin-left: 0%;
    }
}

@media screen and (max-width: 950px) {
    .grid-container {
        display: block;
        grid-template-areas: 'text''grafiek''tab'
            'tabtext';
        grid-template-columns: 100%;
    }

    svg#dataviz {
        height: 60vh;
    }

    .tab {
        height: 10vh;
    }

    .tabcontent {
        height: 17vh;
    }

    .imagefooter {
        height: 80px;
    }

    #illustratie_hoek {
        display: none;
    }

    #introtext {
        font-size: 20px;
        width: 100%;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 900px) {
    .grid-containermaps {
        grid-template-columns: 50% 50%;
        margin-left: 10%;
        margin-right: 10%;
    }

    svg#dataviz {
        height: 55vh;
    }

    .tabcontent {
        height: 20vh;
    }

    .grafiek_nav {
        display: none;
    }

    .kaart_nav {
        display: none;
    }

    .grafiek_nav_mobile {
        display: block;
    }

    .kaart_nav_mobile {
        display: block;
    }
}

@media screen and (max-width: 750px) {
    svg#dataviz {
        height: 45vh;
    }

    .grid-containervogels {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .imagefooter {
        height: 60px;
    }
}

@media screen and (max-width: 675px) {
    .tabcontent {
        height: 22vh;
    }

    footer {
        font-size: 12px;
        height: 60px;
    }

    .grid_maps {
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media screen and (max-width: 600px) {
    .grid-containermaps {
        grid-template-columns: 50% 50%;
        margin-left: 0;
        margin-right: 0;
    }

    svg#dataviz {
        height: 39vh;
    }

    .grid-containermaps_legend {
        display: block;
    }

    .tabcontent {
        height: 25vh;
    }

    .imagefooter {
        height: 90px;
        width: 100%;
    }

    .gras_footer_mobile {
        display: block;
    }

    .gras_footer {
        display: none;
    }

    .tabelslider {
        width: 99%;
    }
}

@media screen and (max-width: 550px) {
    .tabcontent {
        height: 28vh;
    }
}

@media screen and (max-width: 500px) {
    svg#dataviz {
        height: 37vh;
    }

    .content {
        margin-left: 5%;
        margin-right: 5%;
    }

    footer {
        padding-left: 5%;
        padding-right: 5%;
        width: 90%;
    }

    .imagefooter {
        height: 75px;
        width: 100%;
    }

    .weidevogels_nav {
        margin-left: 5%;
    }
    
    .grid-containervogels {
        grid-template-columns: 50% 50%;
        margin-left: 10%;
        margin-right: 10%;
    }

}

@media screen and (max-width: 430px) {
    .tab button {
        font-size: 13px;
    }
    svg#dataviz {
        height: 31vh;
    }
}

@media screen and (max-width: 400px) {
    svg#dataviz {
        height: 27vh;
    }

    .tabcontent {
        height: 32vh;
    }

    .imagefooter {
        height: 60px;
        width: 100%;
    }

    #introtext {
        margin-top: 0vh;
        font-size: 17px;
        height: 40vh;
    }
    
    .tab button {
        font-size: 12px;
    }
}

@media screen and (max-width: 355px) {
    svg#dataviz {
        height: 26vh;
    }

    .tabcontent {
        height: 34vh;
    }
    
    .tab button {
        font-size: 10px;
    }
}
